//META{"name":"bluesky","description":"blue","author":"YurgBurg","version":"1.02"}*//
.guild-channels {
    background-color: #265fb5;
    padding-bottom: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.search-bar {
    background-color: #622fc3;
    -webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,.06),inset 0 -1px 0 0 rgba(0,0,0,.2);
    box-shadow: 0 1px 0 0 rgba(0,0,0,.06),inset 0 -1px 0 0 rgba(0,0,0,.2);
    display: -webkit-box;
    display: -webkit-flex;
    display: box;
    display: flex;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.private-channels {
    background-color: #7d4bde;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: box;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);

}
.scroller-wrap .scroller::-webkit-scrollbar-track-piece {
    background-color: #f3f3f3;
}
.scroller-wrap .scroller::-webkit-scrollbar-thumb, .scroller-wrap .scroller::-webkit-scrollbar-track-piece {
    background-color: #7d4bde;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    border: 3px solid #fff;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}
#friends .friends-header .tab-bar .tab-bar-item.tab-bar-item-primary {
    background-color: #7d4bde;
    color: #fff;
}
#friends .friends-header .tab-bar .tab-bar-item.selected {
    background-color: #7d4bde;
    color: #fff;
    cursor: default;
}
.status-offline {
    background-color: #d22a04;
}
.private-channels .channel .icon-friends {
    background: url(/assets/78edad9e528abdda340ef4341ac52b57.svg) center center no-repeat #7d4bde;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    margin-right: 12px;
}
.guilds-wrapper {
    overflow: hidden;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    width: 80px;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #ffffff;
    border-right: 2px solid #dadddf;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}
#voice-connection {
    background: #ffffff;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #dadddf;
    border-right: 1px solid #dadddf;
    border-top: 1px solid #ffffff;
}
.guild-header header {
    background-color: #24549c;
    position: relative;
    font-family: Whitney,"Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #fff;
    font-weight: 600;
    padding: 28px 24px;
    height: 56px;
    -webkit-box-shadow: 0 1px 0 #24272b,inset 0 -1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 0 #24272b,inset 0 -1px 0 rgba(0,0,0,.1);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    z-index: 2;
    cursor: pointer;
    -webkit-transition: background-color 150ms ease;
    -moz-transition: background-color 150ms ease;
    -o-transition: background-color 150ms ease;
    -ms-transition: background-color 150ms ease;
    transition: background-color 150ms ease;
}
.account {
    height: 70px;
    background: #ffffff;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 0 10px;
    border-top: 2px solid #dadddf;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    border-right: 1px solid #dadddf;
}
.guild-channels .channel-text.selected {
    background: -webkit-linear-gradient(left,#24549c 85%,#265fb5);
    background: -moz-linear-gradient(left,#282b30 85%,#2e3136);
    background: -o-linear-gradient(left,#282b30 85%,#2e3136);
    background: -ms-linear-gradient(left,#282b30 85%,#2e3136);
    background: linear-gradient(to right,#2e3136 85%,2e3136);
    border-bottom: 2px solid #265fb5;
    border-top: 2px solid #265fb5;
}
.guilds-wrapper .guilds-add {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ffffff;
    color: #251d2a;
    border: 1px dashed #000000;
    padding: 0;
    font-size: 40px;
    font-weight: 200;
    text-align: center;
    line-height: 100%;
    -webkit-transition: border-color 250ms ease,color 250ms ease;
    -moz-transition: border-color 250ms ease,color 250ms ease;
    -o-transition: border-color 250ms ease,color 250ms ease;
    -ms-transition: border-color 250ms ease,color 250ms ease;
    transition: border-color 250ms ease,color 250ms ease;
}
#voice-connection .btn-group {
    border: 0px solid #1c1e22;
    overflow: hidden;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-border-radius: 3px;
    border-radius: 4px;
}
.flex-vertical {
    display: box;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.settings .settings-header {
    -webkit-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    background-color: #6c5ad2;
    font-family: Whitney,"Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #fff;
    font-weight: 600;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.05),inset 0 -1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 0 rgba(0,0,0,.05),inset 0 -1px 0 rgba(0,0,0,.1);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 190px;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    display: box;
    display: flex;
    overflow: hidden;
}
.form .btn-primary {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #24549c;
    color: #fff;
}
.search-bar-clear:before {
    width: 19px;
    height: 19px;
    background: #6447ab;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 3px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -o-transition: all .1s ease;
    -ms-transition: all .1s ease;
    transition: all .1s ease;
}
.account .btn-group {
    border: 0px solid #1c1e22;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}
.guild-header header:hover {
    background-color: #4651d8;
}
.guilds-wrapper .guilds-add:hover {
	  background-color: #265fb5;
	  border: 1px #fff;
	  color: #fff;
}
.bda-dark #pubs-footer, .bda-dark #pubs-header {
    background: #ffffff;
}
#pubs-header button {
    height: 32px;
    background-color: #f9f9f9;
    color: #000000;
}
.bda-dark #pubs-header button {
    background-color: #ffffff;
}
.server-info button {
    width: 90px;
    height: 48px;
    margin-top: 8px;
    background-color: #738bd7;
    color: #000;
    font-size: 19px;
}
.bda-dark .server-info button {
    background-color: #ffffff;
}
.bda-dark #pubs-container, .bda-dark .server-row:nth-child(odd) {
    background-color: #24549c;
    border-color: #265fb5;
}
.bda-dark .server-row {
    background-color: #265fb5;
}
.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar, .bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-track, .bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-track-piece, .bda-dark #pubs-container .scroller::-webkit-scrollbar, .bda-dark #pubs-container .scroller::-webkit-scrollbar-track, .bda-dark #pubs-container .scroller::-webkit-scrollbar-track-piece {
    background-color: #ffffff!important;
    border-color: #ffffff!important;
}
.bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-thumb, .bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-thumb, .bda-dark #pubs-container .scroller::-webkit-scrollbar-thumb, .bda-dark .emoji-picker .scroller::-webkit-scrollbar-thumb {
    border-color: #dadddf!important;
    background-color: #dadddf!important;
}
#pubs-footer div {
    float: right;
    margin-right: 5px;
    font-weight: 600px;
    color: #000;
}
#pubs-footer a {
    color: #24549c;
    font-weight: 800;
}