//META{"name":"Slick-White","description":"slick-white, give feedback and please enjoy contact me YurgBurg#6184","author":"YurgBurg","version":"1.064.4"}*//
.guild-channels {
    background-color: #f3f3f3;
    padding-bottom: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    webkit-box-flex: 1;
    moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.search-bar {
    background-color: #f3f3f3;
    -webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,.06),inset 0 -1px 0 0 rgba(0,0,0,.2);
    box-shadow: 0 1px 0 0 rgba(0,0,0,.06),inset 0 -1px 0 0 rgba(0,0,0,.2);
    display: -webkit-box;
    display: -webkit-flex;
    display: box;
    display: flex;
    moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.private-channels header{
  color: #000;
}
.private-channels {
    background-color: #f3f3f3;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    webkit-box-flex: 1;
    moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: box;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);

}
.scroller-wrap .scroller::-webkit-scrollbar-track-piece {
    background-color: #dadddf;
}
.scroller-wrap .scroller::-webkit-scrollbar-thumb, .scroller-wrap .scroller::-webkit-scrollbar-track-piece {
    background-color: #dadddf;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    border: 3px solid #fff;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}
#friends .friends-header .tab-bar .tab-bar-item.tab-bar-item-primary {
    background-color: #f3f3f3;
    color: #000;
}
#friends .friends-header .tab-bar .tab-bar-item.selected {
    background-color: #f3f3f3;
    color: #00;
    cursor: default;
}
.status-offline {
    background-color: #d22a04;
}
.private-channels .channel .icon-friends {
    background: url(/assets/78edad9e528abdda340ef4341ac52b57.svg) center center no-repeat #2ad0a6;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    margin-right: 12px;
}
.guilds-wrapper {
    overflow: hidden;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    width: 80px;
    webkit-box-orient: vertical;
    moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #ffffff;
    border-right: 2px solid #dadddf;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}
#voice-connection {
    background: #ffffff;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    webkit-box-align: center;
    moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #dadddf;
    border-right: 1px solid #dadddf;
    border-top: 1px solid #ffffff;
}
.guild-header header {
    background-color: #f3f3f3;
    position: relative;
    font-family: Whitney,"Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #000;
    font-weight: 600;
    padding: 28px 24px;
    height: 56px;
    webkit-box-shadow: 0 1px 0 #24272b,inset 0 -1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 0 #24272b,inset 0 -1px 0 rgba(0,0,0,.1);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    z-index: 2;
    cursor: pointer;
    -webkit-transition: background-color 150ms ease;
    -moz-transition: background-color 150ms ease;
    -o-transition: background-color 150ms ease;
    -ms-transition: background-color 150ms ease;
    transition: background-color 150ms ease;
}
.account {
    height: 70px;
    background: #ffffff;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    webkit-box-align: center;
    moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 0 10px;
    border-top: 2px solid #dadddf;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    border-right: 1px solid #dadddf;
}
.guild-channels .channel-text.selected {
    background: -webkit-linear-gradient(left,white 85%,white);
    background: -moz-linear-gradient(left,#282b30 85%,#2e3136);
    background: -o-linear-gradient(left,#282b30 85%,#2e3136);
    background: -ms-linear-gradient(left,#282b30 85%,#2e3136);
    background: linear-gradient(to right,#2e3136 85%,2e3136);
    border-bottom: 2px solid smokewhite;
    border-top: 2px solid smokewhite;
}
.guild-channels .channel-text.selected a{
  color: #265fb5;
}
.guilds-wrapper .guilds-add {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ffffff;
    color: #251d2a;
    border: 1px dashed #000000;
    padding: 0;
    font-size: 40px;
    font-weight: 200;
    text-align: center;
    line-height: 100%;
    -webkit-transition: border-color 250ms ease,color 250ms ease;
    -moz-transition: border-color 250ms ease,color 250ms ease;
    -o-transition: border-color 250ms ease,color 250ms ease;
    -ms-transition: border-color 250ms ease,color 250ms ease;
    transition: border-color 250ms ease,color 250ms ease;
}
#voice-connection .btn-group {
    border: 0px solid #1c1e22;
    overflow: hidden;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-border-radius: 3px;
    border-radius: 4px;
}
.flex-vertical {
    display: box;
    display: flex;
    webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.settings .settings-header {
    -webkit-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    background-color: #f3f3f3;
    font-family: Whitney,"Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #000000;
    font-weight: 600;
    webkit-box-shadow: 0 1px 0 rgba(0,0,0,.05),inset 0 -1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 0 rgba(0,0,0,.05),inset 0 -1px 0 rgba(0,0,0,.1);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 190px;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    display: box;
    display: flex;
    overflow: hidden;
}
.form .btn-primary {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #f3f3f3;
    color: #000;
}
.search-bar-clear:before {
    width: 19px;
    height: 19px;
    background: #178f70;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 3px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -o-transition: all .1s ease;
    -ms-transition: all .1s ease;
    transition: all .1s ease;
}
.account .btn-group {
    border: 0px solid #1c1e22;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}
.guild-header header:hover {
    background-color: #000000;
    color: #fff;
}
.guilds-wrapper .guilds-add:hover {
	  background-color: #f3f3f3;
	  border: 1px #fff;
	  color: #000000;
}
.bda-dark #pubs-footer, .bda-dark #pubs-header {
    background: #ffffff;
}
#pubs-header button {
    height: 32px;
    background-color: #f9f9f9;
    color: #000000;
}
.bda-dark #pubs-header button {
    background-color: #ffffff;
}
#pubs-header {
  background: rgba(19, 18, 18, 0.18)
}
.server-info button {
    width: 90px;
    height: 48px;
    margin-top: 8px;
    background-color: #f3f3f3;
    color: #000;
    font-size: 19px;
}
.server-info button {
  background-color: #d4d4d4;
}
.bda-dark .server-info button {
    background-color: #ffffff;
}
.bda-dark #pubs-container, .bda-dark .server-row:nth-child(odd) {
  background-color: #36393e;
  border-color: #36393e;
}
.bda-dark .server-row {
    background-color: ##1db38d;
}
.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar, .bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-track, .bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-track-piece, .bda-dark #pubs-container .scroller::-webkit-scrollbar, .bda-dark #pubs-container .scroller::-webkit-scrollbar-track, .bda-dark #pubs-container .scroller::-webkit-scrollbar-track-piece {
    background-color: #ffffff!important;
    border-color: #ffffff!important;
}
.bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-thumb, .bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-thumb, .bda-dark #pubs-container .scroller::-webkit-scrollbar-thumb, .bda-dark .emoji-picker .scroller::-webkit-scrollbar-thumb {
    border-color: #dadddf!important;
    background-color: #dadddf!important;
}
#pubs-footer div {
    float: right;
    margin-right: 5px;
    font-weight: 600px;
    color: #000;
}
#pubs-footer a {
    color: #000;
    font-weight: 800;
}
#pubs-footer {
  background: #d4d4d4;
}
element.style {
    border-radius: 25px;
    background-color: rgb(46, 49, 54);

}
.popout header {
    background-color: rgb(243, 243, 243);
}
.theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-thumb, .theme-dark .messages-wrapper .scroller-wrap ::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-color: #36393e;
}
.theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-track-piece, .theme-dark .messages-wrapper .scroller-wrap ::-webkit-scrollbar-track-piece {
    background-color: #ffffff;
    border-color: #36393e;
}
.theme-dark .chat .title-wrap {
    border-bottom: 1px solid #424549;
    webkit-box-shadow: 0 1px 0 rgba(0,0,0,.06);
    box-shadow: 0 1px 0 rgba(0,0,0,.06);
    background-color: #36393e;
}
.scroller-wrap.dark .scroller::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border-color: transparent;
}
.popout-menu .popout-menu-item:hover.invite {
    color: #14b11a;
}
.popout-menu .popout-menu-item.invite {
    color: #131212;
}
.popout-menu .popout-menu-item {
    color: #131212;
}
.popout {
    padding: 0;
    webkit-box-shadow: 0 2px 4px rgba(0,0,0,.16);
    box-shadow: 0 2px 4px rgb(67, 68, 70);
    position: absolute;
    z-index: 1000;
    -webkit-filter: blur(0);
}
.private-channels .channel:hover .channel-activity, .private-channels .channel:hover a {
    color: #000000;
}
.private-channels .channel:hover {
    background: -webkit-linear-gradient(left,#000000 85%,#000000);
    background: -moz-linear-gradient(left,#282b30 85%,#2e3136);
    background: -o-linear-gradient(left,#282b30 85%,#2e3136);
    background: -ms-linear-gradient(left,#282b30 85%,#2e3136);
    background: linear-gradient(to right,#ffffff 85%,#ffffff);
    color: #000;
}
.private-channels .channel.selected a {
    color: #1db38d;
}
.private-channels .channel:hover {
    background: -webkit-linear-gradient(left,#000000 85%,#000000);
    background: -moz-linear-gradient(left,#282b30 85%,#2e3136);
    background: -o-linear-gradient(left,#282b30 85%,#2e3136);
    background: -ms-linear-gradient(left,#282b30 85%,#2e3136);
    background: linear-gradient(to right,#ffffff 85%,#ffffff);
    color: #000;
}
.guilds-wrapper .guilds .guilds .guild-inner element.style {
    border-radius: 15px;
    background-color: #f3f3f3;
}
.private-channels .channel.selected .icon-friends {
    background-color: #f3f3f3;
}
.private-channels .channel.selected {
    background: -webkit-linear-gradient(left,#282b30 85%,#2e3136);
    background: -moz-linear-gradient(left,#282b30 85%,#2e3136);
    background: -o-linear-gradient(left,#282b30 85%,#2e3136);
    background: -ms-linear-gradient(left,#282b30 85%,#2e3136);
    background: linear-gradient(to right,#ffffff 85%,#ffffff);
    color: #000;
}
.tooltip
{
    border-radius: 0;
    background-color: #f3f3f3;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    color: #000;
}
.tooltip.tooltip-right:after
{
    border-right-color: #f3f3f3;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
}
.tooltip.tooltip-bottom:after
{
    border-bottom-color: #f3f3f3;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
}
.guild-channels .channel-text:hover.channel-muted:before, .guild-channels .channel-text:hover:not(.unread):before {
  border-left: 2px solid #131212;
}
.tooltip.tooltip-top:after
{
    border-top-color: #f3f3f3;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
}
.tooltip.tooltip-left:after
{
    border-left-color: #f3f3f3;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
}
.channel-textarea-inner {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    position: relative;
    padding: 12px 10px;
    -webkit-border-radius: 3px;
    border-radius: none;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
}
.theme-light .message-group {
   margin-right: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    border-color: white;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 1px 3px #dadddf;
}
.private-channels .search-result.selected, .private-channels .search-result:hover {
    background: -webkit-linear-gradient(left,#282b30 85%,#2e3136);
    background: -moz-linear-gradient(left,#282b30 85%,#2e3136);
    background: -o-linear-gradient(left,#282b30 85%,#2e3136);
    background: -ms-linear-gradient(left,#282b30 85%,#2e3136);
    background: linear-gradient(to right,#ffffff 85%,#ffffff);
}
.form header {
    color: #f3f3f3;
    font-size: 14px;
    padding-top: 28px;
    padding-bottom: 28px;
}
#voice-connection .btn-info {
    border-right: 1px solid rgba(28, 30, 34, 0);
}
.account .btn-deafen, .account .btn-mute {
    border-right: 1px solid rgba(28, 30, 34, 0);
}.guild-channels .channel-text.selected:before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    content: ' ';
    border-left: 2px solid #265fb5;
    opacity: 1!important;
    -ms-filter: none!important;
    filter: none!important;
}
.private-channels .channel.selected:before {
    border-left: 2px solid #1db38d;
    opacity: 1!important;
    -ms-filter: none!important;
    filter: none!important;
}
.guild-channels .channel a:hover {
    color: black;
}
.guild-channels .channel-text.unread:not(.selected):not(.channel-muted) a:hover {
    color: black;
}
.guild-channels .channel:hover {
    background: white;
}
.guild-channels .channel-voice:not(.full):hover a, .guild-channels .channel-voice:not(.locked):hover a {
    color: #265fb5;
}
.guild-channels .channel-voice-states li:hover {
    color: #265fb5;
}
.tab-bar.SIDE .tab-bar-item:before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    content: ' ';
    border-left: 4px solid #ffffff;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}
.tab-bar.SIDE .tab-bar-item {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    text-decoration: none;
    font-weight: 500;
    padding: 8px 6px 10px 20px;
    color: rgba(14, 1, 1, 0.91);
}
.form .btn-primary:hover {
    background-color: #7f7f86;
}
.guild-channels .channel-voice-states li.popout-open span, .guild-channels .channel-voice-states li.speaking, .guild-channels .channel-voice-states li:hover {
    color: #ffffff;
}
.guild-channels .channel-voice.audio li {
    color: #131212;
}
.guild-channels header {
    font-size: 12px;
    color: #000;
}
.guild-channels .channel-voice .channel-name {
  color: #000;
}
.private-channels .channel .channel-name {
  color: #000;
}
.guild-channels .channel-voice-states li {
    padding: 0;
    font-size: 13px;
    color: rgba(4, 4, 4, 0.97);
}
.account .btn {
    width: 32px;
    height: 32px;
    background: #131212;
    position: relative;
}
.guild-channels .channel a {
  color: #000000
}
.tab-bar.SIDE .tab-bar-header {
  color: rgba(8, 8, 8, 0.54);
}
